html, body {
  overflow: hidden;
  height: 100%;
  background: #191919;
  margin: 0;
  padding: 0;
  width: 100%;
}

#canvas {
  background: url('https://marclopezavila.github.io/planet-defense-game/img/space.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

#canvas.playing {
  cursor: url('https://marclopezavila.github.io/planet-defense-game/img/aim_red.png') 17.5 17.5, auto !important;
}
